<body class="nation_background">

<h2 class="header">Edit <%= @nation.name %></h2>

<form action="/nations/<%= @nation.id %>" method="post">
  
<label class="name_label" for="name">Name: </label>
<input class="input_text" type="text" name="name" value="<%= @nation.name %>">

<input class="submit" type="submit" name="edit" value="Edit this Nation">

</form>