<body class="nation_background">

<h2 class="nation_header">Add a Nation</h2>

<form action="/nations" method="post">
  
<label class="nation_name_label" for="name">Name: </label>
<input class="nation_input_text" type="text" name="name">

<input class="nation_submit" type="submit" name="Add this Nation">

</form>