<body class="nation_background">

<h2 class="header">Add a Nation</h2>

<form action="/nations" method="post">
  
<label class="name_label" for="name">Name: </label>
<input class="input_text" type="text" name="name">

<input class="submit" type="submit" name="Add this Nation">

</form>