<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics</title>
  <link rel="icon" href="https://www.portada-online.com/wp-content/uploads/2016/05/e_X0eFk8_400x400.png">
  <link rel="stylesheet" type="text/css" href="/global_settings.css">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
  <link rel="stylesheet" type="text/css" href="/event.css">
  <link rel="stylesheet" type="text/css" href="/athlete.css">
  <link rel="stylesheet" type="text/css" href="/nation.css">
</head>
<body>
  <div>
    <button class="nav_buttons" onclick="location.href='/'">Home</button>
    <button class="nav_buttons" onclick="location.href='/athletes'">Athletes</button>
    <button class="nav_buttons" onclick="location.href='/nations'">Nations</button>
    <button class="nav_buttons" onclick="location.href='/events'">Events</button>
  </div>



  <%= yield %>
  
</body>
</html>