/*HEADERS*/

/*EVENT LABELS AND TEXT FIELDS*/

  #output_name {
    left: -590px;
  }

/*TABLES*/

/*HREFS*/

#add_athlete {
  top: -5px
}

#href_pos {
  position: relative;
  top: 100px;
  left: 100px;
}

/*BUTTONS*/

#button_pos {
  left: 100px;
}

/*DIVS*/

/*BACKGROUND*/

.athlete_background {
  background-color: #FFFFF3;
}

/*NATION*/

#athlete_nation{
   height: 50px;
   width: 50px;
}

#athlete_nation_pos{
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  top: 75px;
  left: 100px;
}

/*MEDAL*/

#medal_pos {
  position: relative;
  top: 100px;
  left: 100px;
}