/*HEADERS*/

.athlete_header {
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  left: -400px;
}

/*EVENT LABELS AND TEXT FIELDS*/

.athlete_href{
  display: block;
  border: none;
  background-color: #56A902;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.3s;
  position: relative;
}

.athlete_href:hover {
  color: #AACD6E;
}

#add_athlete {
  top: -5px
}

/*TABLES*/
.athlete_table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  clear: left;
}

/*HREFS*/

/*BUTTONS*/

/*DIVS*/

/*BACKGROUND*/



/*NATION*/

#athlete_nation{
   height: 50px;
   width: 50px;
}

/*MEDAL*/

.medal_gold {
  height: 50px;
  width: 50px;
  background-image: url("https://wiki.hattrick.org/w/images/6/6c/Gold_medal_olympic.png");
}

.medal_silver{ 
  height: 50px;
  width: 50px;
  background-image: url("http://www.penbrock.com/e107_plugins/advmedsys/medalimg/Silver_medal_olympic.svg.png")
}

.medal_bronze{
  height: 50px;
  width: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Bronze_medal_2006_OG.svg/50px-Bronze_medal_2006_OG.svg.png");
}