/*HEADERS*/

/*LABELS AND TEXT FIELDS*/

#athlete_pos {
  left: -600px;
}

/*TABLES*/

#event_table, th, td {
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#event_table, th {
  text-align: left;
  border-bottom: none;
}


/*HREFS*/

#add_event{
  left: 5px;
}

/*BUTTONS*/

/*DIVS*/

.event_div {
  height: 300px;
  overflow: auto;
  clear:;
}

/*BACKGROUND*/

.event_background{
  background-color: #FFFFF3;
}

/*NATION HREF*/

#nation_href{
  display: inline-block;
  height: 50px;
  width: 50px;
}