/*HEADERS*/

.event_header{
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  left: -400px;
}

/*TABLES*/

.event_table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
  position: relative;
  clear: left;
}

.event_table, th, td {
    height: 40px;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event_table, th {
  text-align: left;
  border-bottom: none;
}


/*HREFS*/

.event_href{
   display: block;
   border: none;
   background-color: #56A902;
   color: white;
   padding: 25px 55px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   transition-duration: 0.3s;
   position: relative; 
}

.event_href:hover {
  color: #AACD6E;
}

#add_event{
  left: 5px;
}


/*BUTTONS*/

.event_delete_button{
  display: block;
  transition-duration: 0.3s;
  position: relative; 
}

/*DIVS*/

.event_div {
  height: 300px;
  overflow: auto;
  clear:;
}

/*BACKGROUND*/

.event_background{
  background-color: #FFFFF3;
}