.event_table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
  position: relative;
}

.event_table, th, td {
    height: 40px;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event_table, th {
  text-align: left;
  border-top: 1px solid #ddd;
}


