/*HEADERS*/

/*LABELS AND TEXT FIELDS*/


/*TABLES*/

#table_pos{
  top: 40px;
}

/*HREFS*/

#add_nation{
  top: 20px;
}

/*BUTTONS*/

/*DIVS*/


/*BACKGROUND*/

.nation_background {
 background-color: #FFFFF3;
}

/*NATION FLAG*/

#nation_flag {
  height: 50px;
  width: 50px;
  margin: none;
  padding: none;
}