<h2>Athlete</h2>

<h3>Name: </h3>
<p><%= @athlete.name %></p>

<h3>Nation</h3>
<p><%= @athlete.nation.first.name %></p>

<h3>Event: </h3>
<p><%= @athlete.event.first.name %></p>

<h3>Time: </h3>
<p><%= @athlete.event_time %></p>