<h2><%= @athlete.name %></h2>

<h3>Nation</h3>
<p><%= @athlete.nation.first.name  %></p>

<h3>Event</h3>
<p><%= @athlete.event.first.name %></p>

<% if @athlete.medal != nil %>
  <h3>Medal: </h3>
  <p><%= @athlete.medal %></p>
<% end %>