<body class="event_background">

<h2 class="header">Add Event</h2>

<form action="/events" method="post">
  
<label class="name_label" for='name'>Name: </label>
<input class="input_text" type="text" name="name">

<input class="submit" type="submit" name="Add this Event">

</form>